<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCakIRvjd8chkeF85c9eJZlypS9m0Q3WzI</string>
	<key>GCM_SENDER_ID</key>
	<string>807048036711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mtai.silicon</string>
	<key>PROJECT_ID</key>
	<string>silicon-user-interface-d5aa8</string>
	<key>STORAGE_BUCKET</key>
	<string>silicon-user-interface-d5aa8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807048036711:ios:e72eb5647c1a24b13aefc2</string>
</dict>
</plist>